.project-hov-top {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.project-name {
    font-size: 20px;
}
.project-blue {
    color: #38D1d1;

}
.project-red {
    color: #D13838;

}
.project-info {
    font-size: 14px;
}
.tech-used {
    display: block;
    padding: 0 10px 0 0px;
}
.tech-used p {
    font-size: 20px;
}

.icon-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
}
.icon-div p {
    font-size: 15px;
    margin: 5px 0 0 0;
    color: white;
}

@media screen and (max-width: 1120px) {
    .icon-div {
        max-height: 30px;
    }
    .icon-div p {
        font-size: 13px;
    }

}
@media screen and (max-width: 992px) {
    .icon-div {
        max-height: 100%;
    }
    .icon-div p {
        font-size: 16px;
    }
}
@media screen and (max-width: 610px) {
    .tech-used-p {
        margin-bottom: 5px;
    }
    .icon-div {
        max-height: 30px;
        text-align: center;
    }
}
@media screen and (max-width: 390px){
    .tech-used-p {
        font-size: 14px;
    }
}