#about {
    width: 100%;
    background-color: #161616;
}
.about-row {
    width: 70%;
    margin-left: 15%;
    padding: 150px 0 150px 0;
    display: flex;
    justify-content: space-between;
}
.about-col {
    padding: 0 25px 0 25px;
}
.about-header {
    color: #D13838;
}
.about-white {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}
.about-gray {
    color: gray;
}
.about-email {
    font-size: 24px;
    color: #D13838;
}
.about-email:hover {
    color: #D13838;
}
.email-p {
    margin: 20% 0 20px 0;
}