.nav-custom {
    height: 100px;
    background: transparent;
    color: #757575;
    box-shadow: 0 8px 8px -5px #757575;
}
.navbar-container{
    display: flex;
    align-items: center;
}


.list-item {
    text-decoration: none;
    color: white;
    padding: 0 .5em;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
.list-item:hover {
    text-decoration: none;
    color: #D13838;
    cursor: pointer;
}
.navbar-collapse {
    background: transparent;

}

#nav-toggler {
    border: 1px solid #D13838 !important;
    background-color: #D13838;
}
#nav-span {
    background-color: #D13838;
}



/* homepage nav styles */
.homepage-nav {
    width: 100%;
    box-shadow: none;
    color: white;
}

#homepage-brand {
    font-weight: 700;
    font-family: 'Yellowtail', cursive;
    font-size: 45px;
    color: white;
    background-color: #D13838;
    padding: 5px 15px 5px 5px;
    border-radius: 5px;
}

@media screen and (max-width: 767px){
    .navbar-collapse {
        background: white;
        border: 1px solid #D13838;
        border-top: none;
        padding: 10px;
    }
    .collapse-landing {
        background-color: rgba(0, 120, 255, 0.5);
        border: none;

    }
}